
@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H1</h1>


<h3>Op zoek naar topkwaliteit kickboks-materiaal?</h3>
<p>De kickboks-liefhebber vindt alles bij Thaiboks Expert.
Al 25 jaar leveren onze medewerkers alles wat u maar nodig heeft voor een succesvolle
kickbokscarrière. De Randstad weet dat Thaiboks Expert staat voor kwaliteit,
toegankelijkheid en klantvriendelijkheid. Met Thaiboks Expert Online kan nu ook de rest van
Nederland onze producten bestellen, gewoon op de PC. Man of vrouw, jong of oud, iedereen
is welkom bij Thaiboks Expert!</p>
<br />
<br />
<br />
<img src="~/images/kickboxing.jpg" style="padding-left:20%;">
