
@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H1</h1>


<h3>Op zoek naar topkwaliteit kickboks-materiaal?</h3>
<h3>De kickboks-liefhebber vindt alles bij Thaibox-Expert.</h3>
<p>Al 25 jaar leveren onze medewerkers alles wat u maar nodig heeft voor een succesvolle
kickbokscarrière. De Randstad weet dat Thaibox-Expert staat voor kwaliteit, toegankelijkheid
en klantvriendelijkheid. Met Thaibox-Expert Online kan nu ook de rest van Nederland en
België onze producten bestellen, gewoon op de PC. De producten worden dan bij u
thuisbezorgd, of u kunt ze afhalen in de winkel. Man of vrouw, jong of oud, iedereen is
welkom bij Thaibox-Expert, zowel online als offline!</p>
<br />
<br />
<br />
<img src="~/images/kickboxing.jpg" style="padding-left:20%;">
