
@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H2</h1>

<h3>Op de website van Thaibox-expert, hier kun u terecht voor al uw kickbox benodigdheden.</h3>

<form action="/Store/zoekProducten" method="get">
<input type="text" name="zoekTerm" placeholder="Typ hier uw zoekopdracht" /> 
<input type="submit" value="Zoek">
</form>

<table>
    <tr>
        <td><a href="/Store/cat?catNaam=Kleding"><img src="~/images/kleding.jpg"></a></td>
        <td><a href="/Store/cat?catNaam=Bescherming"><img src="~/images/bescherming.jpg"></a></td>
        <td><a href="/Store/cat?catNaam=Overig"><img src="~/images/accessoires.jpg"></a></td>
        
    </tr>
    <tr>
        <td>Hier vindt u bescherming.</td>
        <td>Hier vindt u kleding</td>
        <td>Hier vindt u accessoires zoals bokszakken en stootkussens.</td>
    </tr>
   

</table>
<h3>Beoordeel ons!</h3>
<form name="contactform" method="post" action="/Home/PlaatsReactie">
    <textarea name="message" rows="5" placeholder="Typ hier uw bericht."></textarea>
    <label><input type="text" name="name" placeholder="Uw naam"> Geef ons een cijfer: <input type="number" name="rating" min="0" max="10" step="1" value="10"></label>
    <input type="submit" value="Verstuur" style="float:right; margin-right:10%;"> <br>
    <p>@ViewBag.feedback</p>
</form>
<h3>Gebruikers reacties</h3>
<table>
     @Html.Raw(ViewBag.reacties)
</table>