
@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H2</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illum mallem levares, quo optimum atque humanissimum virum, Cn. Quae similitudo in genere etiam humano apparet. Quod non faceret, si in voluptate summum bonum poneret. Quae est igitur causa istarum angustiarum? Quod autem satis est, eo quicquid accessit, nimium est; Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? Scisse enim te quis coarguere possit? Duo Reges: constructio interrete. Quae diligentissime contra Aristonem dicuntur a Chryippo. Sapiens autem semper beatus est et est aliquando in dolore; Quid est igitur, inquit, quod requiras? Satis est ad hoc responsum. </p>
<p>Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Philosophi autem in suis lectulis plerumque moriuntur. Quod quidem iam fit etiam in Academia. Age sane, inquam. Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest. Atque his de rebus et splendida est eorum et illustris oratio. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Non enim quaero quid verum, sed quid cuique dicendum sit. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi; </p>
<p>Hoc est non modo cor non habere, sed ne palatum quidem. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; An tu me de L. Obsecro, inquit, Torquate, haec dicit Epicurus? Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. Universa enim illorum ratione cum tota vestra confligendum puto. Dicet pro me ipsa virtus nec dubitabit isti vestro beato M. </p>
<p>Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Quid enim ab antiquis ex eo genere, quod ad disserendum valet, praetermissum est? Neque enim civitas in seditione beata esse potest nec in discordia dominorum domus; Quamquam tu hanc copiosiorem etiam soles dicere. Vitae autem degendae ratio maxime quidem illis placuit quieta. </p>
<p>Nescio quo modo praetervolavit oratio. Quis Aristidem non mortuum diligit? Scio enim esse quosdam, qui quavis lingua philosophari possint; </p>
