
@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H2</h1>

<h3>Op de website van Thaibox-expert, hier kun u terecht voor al uw kickbox benodigheden.</h3>

<table>
    <tr>
        <td><a href="/Store/kleding"><img src="~/images/kleding.jpg"></a></td>
        <td>Hier vindt u kleding</td>
    </tr>
    <tr>
        <td>Hier vindt u bescherming.</td>
        <td><a href="/Store/bescherming"><img src="~/images/bescherming.jpg"></a></td>
        
    </tr>
    <tr>
        <td><a href="/Store/accessoires"><img src="~/images/accessoires.jpg"></a></td>
        <td>Hier vindt u accessoires zoals bokszakken en stootkussens.</td>
    </tr>

</table>

<h3>Gebruikers reacties</h3>
<table>
     @Html.Raw(ViewBag.reacties)
</table>