@using Webshop2.Models;
@model List<Product>

@{
    ViewBag.Title = "Toegevoegd";
}
<h2>Product toegevoegd aan uw winkelwagen.</h2><br><br>
    <div> 
        @{foreach (Product p in Model)
        {
            string afbeelding = p.productID + ".png";

            <p><b>Product: </b>@ViewBag.productNaam</p>
            <p><b>Aantal: </b>@p.productAantal</p>
            <br />
            <img src="~/ProductImages/@ViewBag.productAfbeelding" alt="AFBEELDING" height="00" width="500" /><br /><br />
            <form action="~/Cart/"><input type="submit" value="Ga naar winkelmandje"/></form>
            
        }}
      
    </div>
    

