@using Webshop2.Models;
@model List<Product>
@
@{
    ViewBag.Title = "Toegevoegd";
}
    <div> 
        @{foreach(Product p in Model)
        {
            string afbeelding = p.productID + ".png";
            @p.productNaam
            
            <br />
            @p.productAantal
            <br />
            <img src="~/images/PlaceHolderImages/SmallPics/@afbeelding" alt="AFBEELDING" height="500" width="500" /><br />
            <form action="~/Cart/"><input type="submit" value="Ga naar winkelmandje" /></form>
            
        }}
      
    </div>
    

