
@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H1</h1>


<table>
    <tr>
        <td>
            <h3>Gegevens</h3>
        </td>
        <td>
            <h3>Gelijk contact</h3>
        </td>
    </tr>
    <tr>
     <td id="contact">       
        <p>
            Wagenstraat 79 <br/>
            2512 AR Den Haag <br/>
            Nederland <br/>
            Tel: 070-36002817<br />
            email: <a href="mailto:mailto:thaiboxexpert@chros.nl?subject=Contact 'www.chrisros.eu">info@thaibox-expert.nl</a><br />

        </p>
    </td>
    <td>
        <form name="contactform" method="post" action="/Contact/Mailsend">
            <label><input type="text" name="subject" placeholder="Onderwerp"></label><br />
            <label><input type="text" name="name" placeholder="Uw naam"></label><br />
            <label><input type="email" name="email" placeholder="Uw Email"></label>
            <textarea name="message" rows="5" placeholder="Typ hier uw bericht."></textarea>
            <input type="submit" value="Verstuur"> <br>
            <p>@ViewBag.feedback</p>
        </form>
    </td>
    </tr>
</table>

<h3>Route beschrijving</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d613.0596976950318!2d4.313346400000002!3d52.07538280000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b72401c8faf7%3A0xaff20c8841f728d7!2sWagenstraat+79%2C+2512+AR+Den+Haag!5e0!3m2!1snl!2snl!4v1426348761679" frameborder="0" style="border:0; width:100%; padding-right: 5%; padding-bottom: 5%; height: 500px;"></iframe>