@using Webshop2.Models;
@model List<Product>
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>
<table>
    <thead class="h4">
    <th>Artikel</th>
    <th>Prijs</th>
    <th>Aantal</th>
    </thead>
    @{if (Session["Sessionexists"] != null)
    {
        foreach (Product prod in Model)
        {

            <tr>
                <td><a href="~/Store/ProductDetail?productID=@prod.productID">@prod.productNaam</a></td>
                <td>@prod.productPrijs</td>
                <td>
                @prod.productAantal
                </td>
            </tr>
        }
    }}

</table>
