
@{
    ViewBag.Title = "create";
}

<h1>@ViewBag.H1</h1>
<div id='form'>
    <form name="login" method="post" action="">
        <label>Voornaam :<input type="text" name="username"></label><br>
        <label>Achternaam :<input type="text" name="surname"></label><br>
        <label>Adres :<input type="text" name="adress"></label><br>
        <label>Postcode :<input type="text" name="postal"></label><br>
        <label>Plaats :<input type="text" name="location"></label><br>
        <label>Telefoon :<input type="text" name="tel"></label><br>
        <label>Wachtwoord :<input type="password" name="password1"></label><br>
        <label>Wachtwoord bevestigen : <input type="password" name="password2"></label><br/><br/>
        <input type="submit" value="Create">
    </form>
</div>

