
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>

<p>Vul de gegevens beneden in om in te loggen in uw account.</p>

<div id='form'>
    <form name="login" method="post" action="">
        <label>Gebruikersnaam: <input type="text" name="username"></label><br>
        <label>Wachtwoord:  <input type="password" name="password"></label><br><br>
        <input type="submit" value="Log in">
    </form>
</div>

<p>Heeft u nog geen account? Geen probleem, klik <a href="/account/create/" id="pLink">hier</a> om een account aan te maken.</p>
