@using Webshop2.Models
@model AccountModel
@{
    ViewBag.Title = "Ingelogd.";
}

<h1>@ViewBag.H1</h1>

<div>
    <p>Welkom bij Thaibox-Expert Online. @Session["gebruikersmelding"]</p>

    <p>U bent ingelogd en u kunt nu producten bestellen.</p>
</div>

