@using Webshop2.Models
@model AccountModel
@{
    ViewBag.Title = "Account geregistreerd.";
}

<h1>@ViewBag.H1</h1>

<div>
    <p>Welkom bij Thaiboks Expert Online, @Model.Gebruikersnaam !</p>

    <p>U bent ingelogd en u kunt nu producten bestellen.</p>
</div>

