@using Webshop2.Models
@model List<Bestelling>

@{
    ViewBag.Title = "Financieel Overzicht.";
}

<h1>@ViewBag.H1</h1>

<div>
    <p>
        Inkomsten per bestelling: </br>
        <ul>
            @foreach (Bestelling b in Model)
            {
                <li><label> Bestelling geplaatst op:</label> @b.bestelDatum
                <label> met een totale prijs van: </label>  @b.totaalPrijs</li>
                
            }
        </ul>
        Totaal inkomsten voor deze maand: @ViewData["inkomst"]
    </p>
</div>