
@{
    ViewBag.Title = "Account geregistreerd.";
}

<h1>@ViewBag.H1</h1>

<div>
    <p>Welkom bij Thaibox-Expert Online!</p>

    <p>U kunt nu <a href="/account/index/" id="pLink">inloggen</a>.</p>
</div>

