
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.H1</h2>


    <input>
    <table>
        <tr>
            <td>Uw saldo is: €1023,92 </td>
            <td><a href="/Checkout/succes/?orderid=@ViewBag.orderid" id="button">Klik hier om te betalen.</a></td>
            <td></td>
        </tr>
    </table>
