@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>

@{foreach (Product prod in Model)
  {
      string afbeelding = prod.productID + ".png";
    <p class="naastElkaar">
        <tr>
            
            <a href="Store/ProductDetail?productID=@prod.productID"><img src="~/images/PlaceHolderImages/Small Pics/@afbeelding" alt="Artikel met ID 1" height="100" width="100"></a>
            <br />
            <B>Naam: </B>@prod.productNaam
            <br />
            <B>Merk: </B>@prod.productMerk
            <br />
        </tr>
    </p>
}}






