@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>
<p class="naastElkaar">
    @{foreach (Product prod in Model)
    {
        <tr>
            naam: @prod.productNaam
            <br />Prijs: @prod.productPrijs
        </tr>
    }}
    </p>
<p class="naastElkaar">
    <a href="store/ProductDetail?productID=1"><img src="~/images/PlaceHolderImages/Small Pics/carracer.png" alt="Artikel met ID 1" height="100" width="100"></a> <br />
    Naam: Artikel 1 <br />
    Detail: Beschrijving 1<br />
    Prijs: Prijs 1<br />
</p>

<p class="naastElkaar">
    <a href="store/ProductDetail?productID=2"><img src="~/images/PlaceHolderImages/Small Pics/carconvert.png" alt="Artikel met ID 1" height="100" width="100"></a> <br />
    Naam: Artikel 2 <br />
    Detail: Beschrijving 2<br />
    Prijs: Prijs 2<br />
</p>

<p class="naastElkaar">
    <a href="store/ProductDetail?productID=3"><img src="~/images/PlaceHolderImages/Small Pics/busred.png" alt="Artikel met ID 1" height="100" width="100"></a> <br />
    Naam: Artikel 3 <br />
    Detail: Beschrijving 3<br />
    Prijs: Prijs 3<br />
</p>

<p class="naastElkaar">
    <a href="store/ProductDetail?productID=4"><img src="~/images/PlaceHolderImages/Small Pics/carearly.png" alt="Artikel met ID 1" height="100" width="100"></a> <br />
    Naam: Artikel 4 <br />
    Detail: Beschrijving 4<br />
    Prijs: Prijs 4<br />
</p>

<p class="naastElkaar">
    <a href="store/ProductDetail?productID=5"><img src="~/images/PlaceHolderImages/Small Pics/boatsail.png" alt="Artikel met ID 1" height="100" width="100"></a> <br />
    Naam: Artikel 5 <br />
    Detail: Beschrijving 5<br />
    Prijs: Prijs 5<br />
</p>

<p class="naastElkaar">
    <a href="store/ProductDetail?productID=6"><img src="~/images/PlaceHolderImages/Small Pics/planeace.png" alt="Artikel met ID 1" height="100" width="100"></a> <br />
    Naam: Artikel 6 <br />
    Detail: Beschrijving 6<br />
    Prijs: Prijs 6<br />
</p>




