@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>

@{foreach (Product prod in Model)
  {
      string afbeelding = prod.productID + ".png" ;
    <div class="naastElkaar">
        
            <a href="/Store/ProductDetail?productID=@prod.productID"><img src="~/ProductImages/@prod.productAfbeelding" alt="Product Afbeelding" height="00" width="500" /></a><br />
            <div id="textnaastelkaar">
            <B>Naam: </B>@prod.productNaam
            <br />
            <b>Merk: </b>@prod.productMerk
            <br />
            </div>
        
    </div>
}}






