@using Webshop2.Models;
@model List<Product>
@{
    ViewBag.Title = "ProductWijzigen";
}

<h1>@ViewBag.H1</h1>

<table>
    <thead class="h4">
    <td>Prijs</td>
    <td>Naam</td>
    <td>Merk</td>
    <td></td>
    </thead>
    

    @{
        foreach (Product prod in Model)
        {
            <tr>
                <td>€@prod.productPrijs</td>
                <td>@prod.productNaam</td>
                <td>@prod.productMerk</td>
                <td><a href="~/Store/wijzigenProduct?prodID=@prod.productID">Wijzigen</a></td>
            </tr>


        }

        <tr>
            <td><input type="submit" value="Wijzigen"></td>
        </tr>

    }

</table>


