@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "ProductWijzigen";
}

<h1>@ViewBag.H1</h1>


    <table>
        <tr class="h4">
            <td>Naam</td>
            <td>Merk</td>
            <td>Prijs</td>
            <td></td>
        </tr>

        @{
    foreach (Product prod in ViewBag.productLijstje)
    {
        <tr>
            <td>@prod.productNaam</td>
            <td>@prod.productMerk</td>
            <td>@prod.productPrijs</td>
            <td><a href="/Store/wijzigenProduct?prodID=@prod.productID">Wijzigen</a></td>
        </tr>
    }
        }

    </table>

