
@{
    ViewBag.Title = "ProductGeWijzigd";
}

<h1>@ViewBag.H1</h1>


<p>De categorie is met succes verwijderd!</p>
<p><a href="/Store/ProductWijzigen">Klik hier om nog een product te wijzigen.</a></p>
