
@{
    ViewBag.Title = "ProductGeWijzigd";
}

<h1>@ViewBag.H1</h1>


<p>Het product is met succes gewijzigd!</p>
<p><a href="/Store/ProductWijzigen">Klik hier om nog een product te wijzigen.</a></p>
