@using Webshop2.Models
@model List<Product>

@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.H1</h1>

@{foreach (Product prod in Model)
{
    string afbeelding = prod.productID + ".png";
    <div class="naastElkaar">

        <a href="/Store/ProductDetail?productID=@prod.productID" id="linknaastelkaar"><img src="~/ProductImages/@prod.productAfbeelding" alt="afbeelding" height="00" width="200" /></a>
        <div id="textnaastelkaar">
            <b>Naam: </b>@prod.productNaam
            <br />
            <b>Prijs: </b>€ @prod.productPrijs
            <br />
        </div>

    </div>
}}