<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thaibox-expert.nl</title>
    <link href="~/Content/Reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kube.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/dropdown.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/js-image-slider.js"></script>
    
    @*Favicon & app-icon*@
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    @*navbar*@
    <header>
        <div class="container">
            <a href="/"><img src="/images/logo.png" alt="Logo thaibox expert"></a>
            <nav>
                @*list met menu items in de navbar*@
                <ul> 
                    <li><a href="/store"><i class="fa fa-home"></i> Shop</a></li>
                    <li><a href="/about"><i class="fa fa-question-circle"></i> Over ons</a></li>
                    <li><a href="/contact"><i class="fa fa-phone-square"></i> Contact</a></li>
                    @if(Session["LoggedIn"] == null && Session["AdminLoggedIn"] == null)
                    {
                        <li>
                            <a href="/account"><i class="fa fa-sign-in"></i> Inloggen</a>
                        </li>
                    }
                    else
                    {
                        if (Session["LoggedIn"] != null) 
                        { 
                          <li> 
                                 <a href="/account/profielpagina"><i class="fa fa-user"></i> Uw profielpagina</a>
                          </li>
                          <li>
                                 <a href="/account/logout"><i class="fa fa-sign-out"></i> Uitloggen</a>
                          </li>
                        }
                        else
                        {
                            if (Session["AdminLoggedIn"] != null) 
                            { 
                                <li>
                                        <a href="/account/beheerpagina"><i class="fa fa-eye"></i> Beheerpagina</a>
                                </li>
                                <li>
                                        <a href="/account/logout"><i class="fa fa-sign-out"></i> Uitloggen</a>
                                </li>
                        
                            }
                        }
                    }   
                    <li><a href="/cart" id="totalPrice"><i class="fa fa-shopping-cart"></i> Winkelwagen</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    


        <div id="content">
            <div class="container">
                @*slider*@
                <div id="sliderFrame">
                    <div id="slider">
                        <img src="/images/image-slider-1.jpg" alt="Slider Image" />
                        <img src="/images/image-slider-2.jpg" alt="Slider Image" />
                        <img src="/images/image-slider-3.jpg" alt="Slider Image" />
                        <img src="/images/image-slider-4.jpg" alt="Slider Image" />
                        <img src="/images/image-slider-5.jpg" alt="Slider Image" />
                    </div>
            </div>

                @*start van content*@
                <div class="units-row">
                    <div id="vertNav" class="unit-20">
                        <ul>
                            <li><a class="topCat" href="/store/Kleding">Kleding</a></li>
                            <li><a class="subCat" href="/store/Shirts">Shirts</a></li>
                            <li><a class="subCat" href="/store/Broeken">Broeken</a></li>
                            <li><a class="subCat" href="/store/Schoenen">Schoenen</a></li>
                            <li><a class="subCat" href="/store/Sokken">Sokken</a></li>
                            <li><a class="subCat" href="/store/Ondergoed">Ondergoed</a></li>
                            <li><a class="topCat" href="/store/Bescherming">Bescherming</a></li>
                            <li><a class="subCat" href="/store/Hoofdbescherming">Hoofd</a></li>
                            <li><a class="subCat" href="/store/Borstbescherming">Borst</a></li>
                            <li><a class="subCat" href="/store/Beenbescherming">Been</a></li>
                            <li><a class="subCat" href="/store/Handbescherming">Hand</a></li>
                        </ul>
                    </div>
                    <div id="vertCont" div class="unit-80">

                        @RenderBody()
                    </div>
                </div>
                
                 
                

                @*end of content*@
            </div>
    </div>


    <footer>
        <div class="container">
            <ul>
                <li><a href="http://www.auteursrecht.nl/">Copyright © 2015 - Thaibox-expert</a></li>
                <li><a href="/terms">Algemene voorwaarden</a></li>
                <li><p class="space"></p></li>
                <li><a class="Icon" href="https://www.twitter.com"><i class="fa fa-twitter-square"></i></a></li>
                <li><a class="Icon" href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a></li>
                <li><a class="Icon" href="mailto:info@chrisros.eu?subject=Contact 'www.chrisros.eu'"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </footer>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>