@{
    ViewBag.Title = "Default";
}

<h1>@ViewBag.H1</h1>
<br>
<H3>Verzend- & Servicekosten</H3></br>
<p>
    <b>Moet ik verzendkosten betalen?</b>
    <br><br/>
        Ja, bij thuisbezorging van bestellingen moet u verzendkosten betalen. Als u langskomt in ons filiaal
        om uw bestelling op te halen is er geen sprake van verzendkosten.
    <br><br />
    <b>Hoeveel moet ik aan verzendkosten betalen?</b>
    <br><br>
        - Voor bestellingen van kleding of lesmateriaal bedragen de verzendkosten € 1,99<br>
        - Voor bestellingen van oefenmateriaal met een gewicht onder 1kg bedragen<br> de verzendkosten € 3,00<br>
        - Voor bestellingen van oefenmateriaal met een gewicht van meer dan 1kg bedragen de verzendkosten €5,00<br>
        - Let op! Verzendkosten kunnen afwijken afhankelijk van de inhoud van uw bestelling. De ware hoogte van uw verzendkosten krijgt u altijd in te zien voordat u betaalt voor een bestelling.
    <br><br>
    <b>Wie betaalt de kosten als ik een product wil retourneren?</b>
    <br><br>
        Bent u niet tevreden met uw bestelling? Dan kunt u die retourneren binnen 30 dagen met een kopie
        van de factuur erbij. Als u de producten niet aflevert in ons filiaal, moet u echter de kosten voor het
        verzenden voor uw eigen rekening nemen.
    <br>
    Als u uw producten retourneert, kunt u deze altijd inruilen voor een gelijkwaardig product. Wilt u
    echter uw geld terug, dan zal het bedrag binnen 14 dagen na ontvangst van het product op uw
    rekening worden gestort.
</p>